<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="badWords" value="pharmacy;sex;piss;cock;fuck;shit;pussy;gay;boys;girls;cheap;drugs;shipping;free;thor;pussy;shemale;nude;slots;gambling;poker;uncut;taboo;pervert;fanta;hotb;hotg;drunk;megavideo;video;femdom;incest;finance;holdem;suck;deal;loan;student;consolidation;top-deals;hold-em;4-you;cell-phone;24x7;cute;spank;young;girl;glamor;glamour;ortho;mortgage;models;cunt;cock;virgin;prussia;megavideo;debt;porn;4u;nude;naked;hole;drug;bargin;insurance;xxx;teen;fatties;old;flower;leading;pill;diet;weight;gain;loss;viag;levit;best;online-dat;file://;scat;incest;credit;mortgage;calculator;esite;golf;gokura;old;fuzz;strap;+++;---"/>
	</appSettings>
</configuration>