<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
		</root>
		<!-- Define some output appenders -->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!-- DEBUG < INFO < WARN < ERROR < FATAL -->
      <!-- <threshold value="WARN" /> -->
      <file value="DasBlogGraffitiExporter-log.txt" />
      <!-- Example using environment variables in params -->
      <!-- <file value="${TMP}\log-file.txt" /> -->
      <appendToFile value="false" />
      <!-- An alternate output encoding can be specified -->
      <!-- <encoding value="unicodeFFFE" /> -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]&#13;&#10;" />
        <param name="Footer" value="[Footer]&#13;&#10;" />
        <param name="ConversionPattern" value="%d %5level - %m%n" />
      </layout>
      <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
    </appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<!-- DEBUG < INFO < WARN < ERROR < FATAL -->
			<threshold value="ALL" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%5level - %m%n" />
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default level -->
	</log4net>
</configuration>